* {
    margin: 0;
    padding: 0%;
    font-family: 'Oswald', sans-serif;
    text-transform: capitalize;

}

.form-layout input {
    text-align: left;
    width: 250px;
    padding: 15px;
}

.form-layout label {
    text-align: left;
    font-size: 20px;
    margin: 10px 0;
}

.form-layout label {}

input[type="submit"] {
    background: tomato;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    text-align: center;
    margin: 27px 21px 0px;
}

.connectArea {
    width: 50%;
}

.form {
    width: 50%;
}

form.form-layout label,
input {
    display: block;
    border: navajowhite;
}

.SecContent3 ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 10%;
}

.SecContent3 p {
    font-size: 20px;
    width: 70%;
    margin: 20px auto;
}

.SecContent3 h2 {
    word-spacing: 5px;
    letter-spacing: 1.5px;
    padding: 0 0 25px;
}

.box {
    margin-top: 20px;
}

.box p {
    padding: 20px 0px;
    border-bottom: 1px solid gray;
}

.box h3 {
    font-size: 30px;
    font-weight: 500;
    color: #a3a3a3;
    padding: 5px 0 10px 0px;
    margin-bottom: -28px;
}

.box span {
    font-size: 20px;
    padding: 11px 0 30px 00px;
}

.cards p {
    padding: 0px 0 10px 5px;
}

.cards h3 {
    font-weight: 600;
    padding: 0 0 10px 5px;
}

.cards {
    background: #ffffff;
    box-shadow: 5px 5px 20px gray;
    padding: 30px;
}

.cards img {
    text-align: left;
    margin: 20px;
}

.skill-cards {
    display: flex;
    gap: 30px;
}

.abtItem {
    float: left;
    margin-right: 10%;
    text-align: center;
}

.SecContent p {
    width: 64%;
    margin: auto;
    font-size: 18px;
    margin-bottom: 29px;
}

.header {
    /* margin-top: 32px; */
    margin-left: 5%;
    background: transparent;
    margin-left: 10%;
}

.header ul {
    list-style: none;
    width: 44%;
    float: right;
    margin-top: 36px;
}

.header h2 {
    display: inline-block;
    font-size: 35px;
    padding-top: 32px;
}

.header li {
    padding-right: 20%;
    float: left;
    font-size: 20px;
}

.make-logo {
    color: tomato;
}

.hierButton {
    text-decoration: none;
    background: tomato;
    padding: 8px 31px;
    color: #010101;
    font-weight: 600;
    border-radius: 5px;
}

.sectionContent {
    display: flex;
    /* float: right; */
    width: 100%;
}

.aboutMe {
    width: 50%;
    margin-left: 19%;
}



.myimg img {

    background-image: url('images/i.png');
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    margin-top: 5%;
    width: 550px;
}

.aboutMe h2 {
    margin-top: 202px;
    font-size: 40px;
}

.headSection {
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: left;

    margin-top: 0;
}

.headBody {
    background: #ff63470d;
}

.aboutMe h1 {
    font-size: 70px;
    display: inline;
}

.hierButton2 {
    text-decoration: none;
    background: #f83715;
    padding: 15px 83px;
    color: #010101;
    font-weight: 600;
    border-radius: 9px;
    font-size: 25px;
    line-height: 5;
}

.SecContent {
    width: 80%;
    text-align: center;
    border-radius: 15px;
    padding: 100px;
    margin: 150px auto;
    background: #eb71130d;
}

.contactSec {
    margin: auto;
    width: 70%;
    padding-bottom: 100px;
}

.SecContent h2 {
    font-size: 35px;
    padding: 0px 0 32px 0;
}

.SecContent2 {
    width: 80%;
    border-radius: 15px;
    padding: 100px;
    margin: 80px auto 0 auto;
}

.SecContent2 h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.SecContent2 h2 {
    margin: 0px auto 30px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}

.box h2 {
    text-align: left;
    padding: 9px 0 10px 0px;
    margin-bottom: -10px;
    font-weight: 300;
}

.main-box-sum {
    display: flex;
    gap: 37px;
}

.cv-button-div a {
    text-decoration: none;
    padding: 19px 47px;
    background: tomato;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-size: 30px;
    margin: auto;
}

.cv-button-div {
    margin: 70px 38%;
}

.SecContent3 {
    width: 80%;
    display: flex;
    text-align: center;
    border-radius: 15px;
    padding: 100px;
    margin: 150px auto;
    background: #eb71130d;
    gap: 30px;
}